[submodule "marisa-trie"]
	path = marisa-trie
	url = https://github.com/rime/marisa-trie
[submodule "libime"]
	path = libime
	url = https://github.com/fcitx/libime
[submodule "libthai"]
	path = libthai
	url = https://github.com/tlwg/libthai
[submodule "opencc"]
	path = opencc
	url = https://github.com/BYVoid/OpenCC
[submodule "librime"]
	path = librime
	url = https://github.com/rime/librime
[submodule "librime-lua"]
	path = librime-lua
	url = https://github.com/hchunhui/librime-lua
[submodule "librime-octagram"]
	path = librime-octagram
	url = https://github.com/lotem/librime-octagram
[submodule "glog"]
	path = glog
	url = https://github.com/google/glog
[submodule "leveldb"]
	path = leveldb
	url = https://github.com/google/leveldb
[submodule "yaml-cpp"]
	path = yaml-cpp
	url = https://github.com/jbeder/yaml-cpp
[submodule "zstd"]
	path = zstd
	url = https://github.com/facebook/zstd
