[submodule "marisa-trie"]
	path = marisa-trie
	url = https://github.com/rime/marisa-trie
[submodule "libime"]
	path = libime
	url = https://github.com/fcitx/libime
[submodule "libthai"]
	path = libthai
	url = https://github.com/tlwg/libthai
[submodule "opencc"]
	path = opencc
	url = git@github.com:BYVoid/OpenCC.git
